{% extends "layout.html" %}

{% block title %}
    Mesas
{% endblock %}

{% block main %}
  <!-- Contenedor con las mesas -->
  <div class="container-fluid">
    
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <!-- Columna para el botón -->
                <div class="col-auto">
                    <a href="borrar.html" class="btn btn-secondary d-flex align-items-center">
                        <img style="height: 20px; width: 20px;" src="../static/images/logos/editar.png" alt="Editar" width="16" height="16">
                    </a>
                </div>
                <!-- Columna para el texto -->
                <div class="col">
                    <h4 class="mb-0">Editar Pedido</h4>
                </div>
            </div>
            <div class="row mt-3">
                <h5 class="text-center">Fecha: 18/11/2024 10:44pm</h5>
                <h5 class="text-center">Mesa 1 </h5>
            </div>
            <div style="background-color: #baccf0;" class="row mt-3 p-1">
                <h4 class="text-center">Total: C$ 100</h4>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table text-nowrap align-middle mb-0">
                      <thead>
                        <tr class="border-2 border-bottom border-primary border-0"> 
                          <th scope="col" >ID-Pedido</th>
                          <th scope="col" >Nombre cliente</th>
                          <th scope="col" class="">Nombre empleado</th>
                          <th scope="col" class="text-center">Tipo de pedido</th>
                          <th scope="col" class="ps-0">Fecha / Hora</th>
                        </tr>
                      </thead>
                      <tbody class="table-group-divider">
                        {% for i in info %}
                          <tr>        
                            <td>{{ i['id']  }} </td>
                            <td>{{ i['cliente_nombre'] }} </td>
                            <td>{{ i['empleado_nombre'] }}</td>
                            <td>{{ i['tipo_pedido'] }}</td>
                            <td>{{ i['fecha_hora'] }} </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>
    
    
    
  </div>
{% endblock %}
