{% extends "layout.html" %}

{% block title %}
    Mesas
{% endblock %}

{% block extra_head %}
<style>

    .mesa-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        text-align: center;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    .mesa-card h5 {
        background-color: #28a745;
        color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 1rem;
    }
    .mesa-card img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: 10px 0;
    }
    .btn-atender {
        font-size: 0.8rem;
        padding: 5px 10px;
        width: 80px;
        margin: 10px auto 0;
    }
      </style>
{% endblock %}

{% block main %}
  <!-- Contenedor con las mesas -->
  <div class="container-fluid">
    <h1 class="text-center">SALA 1</h1>
    <div class="row">
        {% set mesas = [
            {'id': 1, 'nombre': 'MESA 1'},
            {'id': 2, 'nombre': 'MESA 2'},
            {'id': 3, 'nombre': 'MESA 3'},
            {'id': 4, 'nombre': 'MESA 4'},
            {'id': 5, 'nombre': 'MESA 5'},
            {'id': 6, 'nombre': 'MESA 6'},
            {'id': 7, 'nombre': 'MESA 7'},
            {'id': 8, 'nombre': 'MESA 8'},
            {'id': 9, 'nombre': 'MESA 9'},
            {'id': 10, 'nombre': 'MESA 10'},
            {'id': 11, 'nombre': 'MESA 11'},
            {'id': 12, 'nombre': 'MESA 12'},
            {'id': 13, 'nombre': 'MESA 13'},
            {'id': 'LLEVAR', 'nombre': 'LLEVAR', 'imagen': 'delivery.svg'},
            {'id': 'BARRA', 'nombre': 'BARRA', 'imagen': 'barra.webp'}
        ] %}

        {% for mesa in mesas %}
        <div class="col-lg-3">
            <div class="mesa-card">
                <h5>{{ mesa.nombre }}</h5>
                <img src="../static/images/logos/{{ mesa.imagen or 'mesa.webp' }}" alt="{{ mesa.nombre }}">
                <button class="btn btn-primary btn-atender">Atender</button>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}
